# Excel Files

In [2]:
import pandas as pd

In [5]:
patches = pd.read_excel("Excel Files\HP_WSI-CoordAnnotatedPatches.xlsx")
diagnosis = pd.read_csv("Excel Files\PatientDiagnosis.csv")

In [8]:
diagnosis

        CODI  DENSITAT
0     B22-01     BAIXA
1     B22-02     BAIXA
2     B22-03  NEGATIVA
3     B22-04  NEGATIVA
4     B22-05  NEGATIVA
..       ...       ...
304  B22-311      ALTA
305  B22-312      ALTA
306  B22-313      ALTA
307  B22-314  NEGATIVA
308  B22-315  NEGATIVA

[309 rows x 2 columns]

In [7]:
patches

       Pat_ID  Section_ID  Window_ID      i      j    h    w  Presence
0     B22-129           0        659   7477  11978  256  256        -1
1      B22-68           0        131   6597  12009  256  256        -1
2      B22-68           0        141   5100  10737  256  256        -1
3      B22-68           0        290   5015  14908  256  256        -1
4      B22-68           0        298  11626  13928  256  256        -1
...       ...         ...        ...    ...    ...  ...  ...       ...
1210  B22-109           0        320  19818  17909  256  256        -1
1211  B22-109           0        322  19565  18002  256  256        -1
1212  B22-109           0        323  19457  18177  256  256        -1
1213  B22-125           0       3028  23888  19096  256  256        -1
1214  B22-125           0       3857  21566   8451  256  256        -1

[1215 rows x 8 columns]

In [33]:
id_column_file1 = 'Presence'  


specific_id = 0 

filtered_df1 = patches[patches[id_column_file1] == specific_id]


filtered_df1

      Pat_ID  Section_ID  Window_ID      i      j    h    w  Presence
904  B22-151           0         93  28458  37198  256  256         0
910  B22-151           0        146  30212  32488  256  256         0
912  B22-151           0        147  30396  32386  256  256         0
914  B22-151           0        148  30490  32569  256  256         0

In [38]:
id_column_file1 = 'CODI'  
id_column_file2 = 'Pat_ID' 

specific_id = "B22-68"  

filtered_df1 = diagnosis[diagnosis[id_column_file1] == specific_id]
filtered_df2 = patches[patches[id_column_file2] == specific_id]


filtered_df2

   Pat_ID  Section_ID  Window_ID      i      j    h    w  Presence
1  B22-68           0        131   6597  12009  256  256        -1
2  B22-68           0        141   5100  10737  256  256        -1
3  B22-68           0        290   5015  14908  256  256        -1
4  B22-68           0        298  11626  13928  256  256        -1
5  B22-68           0        315   9541  11016  256  256        -1
6  B22-68           0        352   7536   9139  256  256        -1

In [35]:
id_column_file1 = 'Presence'  
specific_id = 1
filtered_df1 = patches[patches[id_column_file1] == specific_id]


id_column_file1 = 'DENSITAT'  

specific_id2 = "ALTA"

filtered_df2 = diagnosis[diagnosis[id_column_file1] == specific_id2]


print(filtered_df1)

print(filtered_df2)

       Pat_ID  Section_ID  Window_ID      i      j    h    w  Presence
11    B22-124           0        902  24672  22185  256  256         1
17     B22-46           0       1039  31372   6913  256  256         1
18     B22-46           0       1291  22559  10383  256  256         1
19     B22-46           0       1338  21762  11977  256  256         1
20     B22-46           0       1340  22037  11685  256  256         1
...       ...         ...        ...    ...    ...  ...  ...       ...
1193   B22-84           0        582  27909  29421  256  256         1
1194   B22-84           0        627  31515  32380  256  256         1
1195   B22-84           0        739  28264  27769  256  256         1
1203   B22-84           0       1978  20243  26727  256  256         1
1204   B22-84           0       1982  20210  26596  256  256         1

[163 rows x 8 columns]
        CODI DENSITAT
18    B22-19     ALTA
20    B22-21     ALTA
22    B22-23     ALTA
30    B22-31     ALTA
31    B22-32     ALTA
..       ...      ...
299  B22-306     ALTA
302  B22-309     ALTA
304  B22-311     ALTA
305  B22-312     ALTA
306  B22-313     ALTA

[86 rows x 2 columns]

In [ ]:
merged_df = pd.merge(diagnosis, patches, on=id_column, suffixes=('_file1', '_file2'))